################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChessGame
/ChessGame/obj
/ChessLibrary/obj